@model test1.Models.Product_Specification
@{
    ViewBag.Title = "Product_Specifications";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Product Specifications</h2>

<div class="container">
    <h4 class="mt-4">Product Details</h4>
    <hr />
    <table class="table table-bordered table-striped custom-table">
        <tbody>
            <tr>
                <th scope="row">Operating System</th>
                <td>@Html.DisplayFor(model => model.os)</td>
            </tr>
            <tr>
                <th scope="row">CPU</th>
                <td>@Html.DisplayFor(model => model.cpu)</td>
            </tr>
            <tr>
                <th scope="row">GPU</th>
                <td>@Html.DisplayFor(model => model.gpu)</td>
            </tr>
            <tr>
                <th scope="row">RAM</th>
                <td>@Html.DisplayFor(model => model.ram)</td>
            </tr>
            <tr>
                <th scope="row">ROM</th>
                <td>@Html.DisplayFor(model => model.rom)</td>
            </tr>
            <tr>
                <th scope="row">Camera</th>
                <td>@Html.DisplayFor(model => model.camera)</td>
            </tr>
            <tr>
                <th scope="row">Screen</th>
                <td>@Html.DisplayFor(model => model.screen)</td>
            </tr>
            <tr>
                <th scope="row">Battery</th>
                <td>@Html.DisplayFor(model => model.battery)</td>
            </tr>
            <tr>
                <th scope="row">Charger</th>
                <td>@Html.DisplayFor(model => model.charger)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <button type="button" onclick="window.location.href='@Url.Action("PSEdit","Admin",new {id = Model.product_id})'">Edit Product Specifications</button>
    <button type="button" onclick="window.location.href='@Url.Action("Details","Admin",new {id = Model.product_id})'">Back to Details</button>
</div>
<style>
    .custom-table {
        width: 100%;
        border-collapse: collapse;
    }

        .custom-table th, .custom-table td {
            border: 1px solid #ccc;
            padding: 8px 12px;
        }

        .custom-table th {
            background-color: #f7f7f7;
            color: #333;
            font-weight: bold;
            text-align: left;
        }

        .custom-table td {
            text-align: left;
        }

    .custom-table {
        min-width: 600px;
    }
</style>