@model test1.Models.Order_Item

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order Item</h4>
    <hr />
    <table class="product-table">
        <tr>
            <th>Order Item ID</th>
            <td>@Html.DisplayFor(model => model.order_item_id)</td>
        </tr>
        <tr>
            <th>Product ID</th>
            <td>@Html.DisplayFor(model => model.product_id)</td>
        </tr>
        <tr>
            <th>Product Name</th>
            <td>@Html.DisplayFor(model => model.Product.brand) @Html.DisplayFor(model => model.Product.name) @Html.DisplayFor(model => model.Product.model)</td>

        </tr>
        <tr>
            <th>Option</th>
            <td>@Html.DisplayFor(model => model.Option.description)</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>@Html.DisplayFor(model => model.quantity)</td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <button type="button" onclick="window.location.href='@Url.Action("Index", "Order_Item", new {id = Model.order_id})'">Back to list</button>
        </div>
    }
</div>
